---
import "../section1/section1.css"
import Article1 from "../../ui/Article1/Article1.astro"
import Article2 from "../../ui/Article2/Article2.astro"
import Div from "../../layouts/div/div.astro"
---

<section class="section1">
    <Article1 />
    <Article2 />
    <Div />
</section>