---
import  "../styles/global.css";
import HeaderLayout from "../layouts/header/header.astro";
import Section1Layout from "../layouts/section1/section1.astro";
import Section2Layout from "../layouts/section2/section2.astro";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curriculum</title>
    <script src="https://kit.fontawesome.com/26c3f4e2a1.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <HeaderLayout />
    <Section1Layout />
    <Section2Layout />
</body>
</html>

